*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
header{
    display: flex;
    padding :20px;
    background-color: rgb(0, 64, 255);
    justify-content: space-around;
    margin: 30px 20px 20px 20px;
    color: aliceblue;
    border-radius: 10px;

}
.titulo{
    font-size: 40px;
}
.ponto{
    font-size: large;
}
.pontinho{
    background-color: rgba(255, 255, 0, 0.59);
    color: white;
    border-radius: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}
main{
    padding: 30px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    
}
#niveis{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.subtitulo{
    font-size: 20px;

}
.modulos{
    background-color: rgb(235, 229, 229);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    color: black;font-size: 18px;

    
}
body{
     background-color: rgba(64, 64, 60, 0.199);
}
.pontos{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.738);
}
p{
    font: 30px;
}